.color-body {
  height: 100vh;
  background: #f8f8f8;
}
.font {
  font-family: "Almarai", sans-serif;
  font-family: "Cairo", sans-serif;
}

.rectangle {
  height: auto;
  min-height: 300px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
  overflow-y: auto;
}
.dates-count {
  color: #555555;
  font-weight: 600;
  margin-bottom: 20px;
}

.img-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.h {
  height: 100%;
}
